<%- include('header.ejs') %>
  <form action="/login" method="post" >
    <fieldset>
      <p><input type="text" name="user-id" required placeholder="사용하실 이름을 입력하세요"></p>
      <p><button>로그인</button></p>
    </fieldset>
  </form>
  <%- include('footer.ejs') %>